// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

:root {
    --bg-secondary: #021f2d;
    --cl-accent: #2071cc;
    --max-width-1: 1400px;
    --max-width-2: 1200px;
    --max-width-3: 1100px;
    --max-width-4: 950px;
    --max-width-5: 850px;

    --bg-min-height: 110vh;
}
